/primitive servers/eventloop2.2/node_modules
/primitive servers/restmongo2.4/node_modules
/primitive servers/restmongo2.4/sessions
/primitive servers/restmongo2.4/.env
/architecture/typescript2/assignment2/node_modules
/architecture/typescript2/*.js